<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ with.Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />

    <link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}" />

    {{ block "head_extra" .




    }}{{
      end
    }}
  </head>
  <body class="min-h-full">
    {{ partial "page-navigation-loader" . }}
    {{ partial "background" . }}
    {{ partial "navbar" . }}

    <main class="relative z-10 min-h-screen">{{ block "main" . }}{{ end }}</main>

    <div class="relative z-10">
      {{ partial "footer" . }}
    </div>
  </body>
</html>
