.timeline-line-glow {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.05);
}

.dark .timeline-line-glow {
  box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.05);
}

@keyframes bar-grow {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.bar-animation {
  animation: bar-grow 1s ease-out forwards;
  transform-origin: bottom;
}
