<div class="flex flex-col gap-3">
  <p class="text-sm text-slate-500" i18n="@@resumeLanguagesTitle">Languages</p>

  <ul class="flex flex-col gap-3">
    <li class="flex gap-2">
      <div class="w-8">
        <img
          src="assets/images/resume/spanish-flag.svg"
          alt="spanish flag"
          i18n-alt="@@spanishFlagAlt"
          loading="lazy"
        />
      </div>

      <div class="flex flex-col gap-1">
        <p class="text-slate-700" i18n="@@resumeLanguagesSpanish">Spanish</p>

        <p
          class="leading-4 text-slate-500"
          i18n="@@resumeLanguagesSpanishLevel"
        >
          Native
        </p>
      </div>
    </li>

    <li class="flex gap-2">
      <div class="w-8">
        <img
          src="assets/images/resume/english-flag.svg"
          alt="english flag"
          i18n-alt="@@englishFlagAlt"
          loading="lazy"
        />
      </div>

      <div class="flex flex-col gap-1">
        <p class="text-slate-700" i18n="@@resumeLanguagesEnglish">English</p>

        <p
          class="leading-4 text-slate-500"
          i18n="@@resumeLanguagesEnglishLevel"
        >
          B1
        </p>
      </div>
    </li>
  </ul>
</div>
