<div class="control flex flex-col gap-1" [formGroup]="form()">
  @if (label()) {
    <p [class]="labelClass()">
      {{ label() }}
    </p>
  }

  <fieldset>
    <div class="grid" [class]="gridClassComputed()">
      @for (option of options(); track option.value; let index = $index) {
        <label
          [for]="getId(option.value)"
          tabindex="0"
          [class]="
            getLabelClass({
              value: valueChanges(),
              color: color(),
              size: size(),
              optionValue: option.value,
              optionsLength: options().length,
              index: index,
            })
          "
        >
          <input
            type="radio"
            [id]="getId(option.value)"
            [name]="name()"
            [value]="option.value"
            [formControlName]="name()"
            class="absolute inset-0 cursor-pointer opacity-0"
          />

          <span class="text-center"> {{ option.label }} </span>
        </label>
      }
    </div>
  </fieldset>

  @if (error()) {
    <p class="error overflow-hidden text-red-400 transition-all">
      {{ error() }}
    </p>
  }

  @if (help()) {
    <p class="text-xs text-slate-500" @fadeHeight>
      {{ help() }}
    </p>
  }
</div>
