<figure [id]="nav.projects">
  <figcaption>
    <h2 class="text-4xl font-bold capitalize" i18n="@@homeContentProjectsTitle">
      Projects
    </h2>
  </figcaption>

  <ul class="mt-6">
    @for (project of projects; track project.id) {
      <li [id]="project.id">
        <div class="flex flex-col gap-2">
          <div class="flex flex-col gap-1">
            <h3 class="text-2xl font-semibold">
              <a [href]="project.link" target="_blank" rel="noreferrer">
                {{ project.title }}
              </a>
            </h3>

            <h4 class="text-sm italic">{{ project.caption }}</h4>
          </div>

          <hr />

          <p class="mt-2">{{ project.description }}</p>

          <div class="mt-2 flex gap-2">
            @for (technology of project.technologies; track technology.name) {
              <span
                class="rounded-full px-4 py-1 text-sm"
                [ngClass]="['rounded-full px-4 py-1 text-sm', technology.color]"
              >
                {{ technology.name }}
              </span>
            }
          </div>

          <div class="flex flex-col gap-2">
            <div class="mx-auto w-60">
              <img
                class="w-full"
                [src]="project.preview"
                [alt]="project.title"
                [width]="project.previewWidth"
                [height]="project.previewHeight"
                loading="lazy"
              />
            </div>

            @if (project.wip) {
              <p
                class="text-center text-sm text-yellow-400 capitalize"
                i18n="@@homeContentProjectsWIP"
              >
                Work In Progress...
              </p>
            }

            <div class="mx-auto flex flex-wrap gap-2">
              @if (project.link) {
                <div class="flex justify-center">
                  <a
                    class="rounded border border-slate-900 px-4 py-2 hover:border-slate-800"
                    [href]="project.link"
                    target="_blank"
                    rel="noreferrer"
                    i18n="@@homeContentProjectsLink"
                  >
                    Visit Website
                  </a>
                </div>
              }

              @if (project.github) {
                <a
                  class="flex items-center gap-2 rounded border border-slate-900 px-4 py-2 hover:border-slate-800"
                  [href]="project.github"
                  target="_blank"
                  rel="noreferrer"
                >
                  <img
                    class="w-4"
                    src="assets/images/resume/logos/github.svg"
                    alt="github icon"
                    i18n-alt="@@githubIconAlt"
                    loading="lazy"
                  />

                  <span i18n="@@homeContentProjectsGithub">
                    View on GitHub
                  </span>
                </a>
              }
            </div>
          </div>
        </div>
      </li>
    }
  </ul>
</figure>
