<ul class="flex flex-col gap-3">
  <li class="flex gap-2">
    <div class="flex w-8 items-center justify-center">
      <img
        class="w-full"
        src="assets/images/resume/email-icon.svg"
        alt="email icon"
        i18n-alt="@@emailIconAlt"
        loading="lazy"
      />
    </div>

    <div class="flex flex-col gap-1">
      <p class="leading-4 text-slate-500" i18n="@@resumeContactEmail">Email</p>

      <a href="mailto:visomi.dev@gmail.com" class="text-slate-700">
        visomi.dev&#64;gmail.com
      </a>
    </div>
  </li>

  <li class="flex gap-2">
    <div class="flex w-8 items-center justify-center">
      <img
        class="w-full"
        src="assets/images/resume/website-icon.svg"
        alt="website icon"
        i18n-alt="@@websiteIconAlt"
        loading="lazy"
      />
    </div>

    <div class="flex flex-col gap-1">
      <p class="leading-4 text-slate-500" i18n="@@resumeContactWebsite">
        Website
      </p>

      <a href="https://visomi.dev" target="_blank" class="text-slate-700">
        https://visomi.dev
      </a>
    </div>
  </li>

  <li class="flex gap-2">
    <div class="flex w-8 items-center justify-center">
      <img
        class="w-full"
        src="assets/images/resume/phone-icon.svg"
        alt="phone icon"
        i18n-alt="@@phoneIconAlt"
        loading="lazy"
      />
    </div>

    <div class="flex flex-col gap-1">
      <p class="leading-4 text-slate-500" i18n="@@resumeContactPhone">Phone</p>

      <a
        href="https://wa.me/525587606759"
        class="text-slate-700"
        target="_blank"
      >
        (+52) 55 8760 6759
      </a>

      <p class="text-xs text-slate-400 md:hidden" i18n="@@resumeContactWA">
        Only WhatsApp, Telegram or Messages
      </p>
    </div>
  </li>

  <li class="flex gap-2">
    <div class="flex w-8 items-center justify-center">
      <img
        class="w-full"
        src="assets/images/resume/address-icon.svg"
        alt="address icon"
        i18n-alt="@@addressIconAlt"
        loading="lazy"
      />
    </div>

    <div class="flex flex-col gap-1">
      <p class="leading-4 text-slate-500" i18n="@@resumeContactAddress">
        Address
      </p>

      <p class="text-slate-700" i18n="@@resumeContactCity">
        Mexico City, Mexico
      </p>
    </div>
  </li>
</ul>
